#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 0 auto;
  text-align: center;
  font-family: fantasy;
background: #816029;
-webkit-box-shadow: 7px 7px 33px #684e21, -7px -7px 33px #9a7231;
box-shadow: 7px 7px 33px #684e21, -7px -7px 33px #9a7231;
border: 1px solid black;
}
b {
  text-align: center;
}
.myAnimalCard {
  border: 1px solid black;
}
